xml_out.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="document">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="invalidTargets"/>
                <xs:element ref="results"/>
            </xs:sequence>
            <xs:attribute name="SSLyzeVersion" use="required"/>
            <xs:attribute name="SSLyzeWeb" use="required"/>
            <xs:attribute name="title"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="invalidTargets">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="invalidTarget"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="invalidTarget">
        <xs:complexType mixed="true">
            <xs:attribute name="error" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="results">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="target"/>
            </xs:sequence>
            <xs:attribute name="networkMaxRetries" use="required"/>
            <xs:attribute name="networkTimeout" use="required"/>
            <xs:attribute name="totalScanTime" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="target">
        <xs:complexType>
            <xs:all>
                <xs:element minOccurs="0" ref="certinfo_full"/>
                <xs:element minOccurs="0" ref="certinfo_basic"/>
                <xs:element minOccurs="0" ref="compression"/>
                <xs:element minOccurs="0" ref="heartbleed"/>
                <xs:element minOccurs="0" ref="hsts"/>
                <xs:element minOccurs="0" ref="reneg"/>
                <xs:element minOccurs="0" ref="resum"/>
                <xs:element minOccurs="0" ref="resum_rate"/>
                <xs:element minOccurs="0" ref="sslv2"/>
                <xs:element minOccurs="0" ref="sslv3"/>
                <xs:element minOccurs="0" ref="tlsv1"/>
                <xs:element minOccurs="0" ref="tlsv1_1"/>
                <xs:element minOccurs="0" ref="tlsv1_2"/>
                <xs:element minOccurs="0" ref="fallback"/>
                <xs:element minOccurs="0" ref="openssl_ccs"/>
            </xs:all>
            <xs:attribute name="host" use="required"/>
            <xs:attribute name="ip" use="required"/>
            <xs:attribute name="port" use="required"/>
            <xs:attribute name="tlsWrappedProtocol" use="required"/>
            <xs:attribute name="httpsTunnelHostname" use="optional"/>
            <xs:attribute name="httpsTunnelPort" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="fallback">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tlsFallbackScsv"/>
            </xs:sequence>
            <xs:attribute name="title"/>
            <xs:attribute name="exception"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="tlsFallbackScsv">
        <xs:complexType>
            <xs:attribute name="isSupported" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="openssl_ccs">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="openSslCcsInjection"/>
            </xs:sequence>
            <xs:attribute name="title"/>
            <xs:attribute name="exception"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="openSslCcsInjection">
        <xs:complexType>
            <xs:attribute name="isVulnerable" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="certinfo_full">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="receivedCertificateChain"/>
                <xs:element ref="certificateValidation"/>
                <xs:element ref="ocspStapling"/>
            </xs:sequence>
            <xs:attribute name="title"/>
            <xs:attribute name="exception"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="certinfo_basic">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="receivedCertificateChain"/>
                <xs:element ref="certificateValidation"/>
                <xs:element ref="ocspStapling"/>
            </xs:sequence>
            <xs:attribute name="title"/>
            <xs:attribute name="exception"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="receivedCertificateChain">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="certificate"/>
            </xs:sequence>
            <xs:attribute name="hasSha1SignedCertificate" use="required"/>
            <xs:attribute name="isChainOrderValid" use="required"/>
            <xs:attribute name="containsAnchorCertificate"/>
        </xs:complexType>
    </xs:element>
        <xs:element name="verifiedCertificateChain">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="certificate"/>
            </xs:sequence>
            <xs:attribute name="hasSha1SignedCertificate" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="certificateValidation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="hostnameValidation"/>
                <xs:element maxOccurs="unbounded" ref="pathValidation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="hostnameValidation">
        <xs:complexType>
            <xs:attribute name="certificateMatchesServerHostname" use="required"/>
            <xs:attribute name="serverHostname" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="pathValidation">
        <xs:complexType>
            <xs:attribute name="isExtendedValidationCertificate"/>
            <xs:attribute name="trustStoreVersion" use="required"/>
            <xs:attribute name="usingTrustStore" use="required"/>
            <xs:attribute name="validationResult"/>
            <xs:attribute name="error"/>
            <xs:element minOccurs="0" ref="verifiedCertificateChain"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ocspStapling">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="ocspResponse"/>
            </xs:sequence>
            <xs:attribute name="isSupported" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ocspResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="responseType"/>
                <xs:element ref="responderID"/>
                <xs:element ref="producedAt"/>
                <xs:element ref="version"/>
                <xs:element ref="responseStatus"/>
                <xs:element ref="responses"/>
            </xs:sequence>
            <xs:attribute name="isTrustedByMozillaCAStore" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="responseType" type="xs:string"/>
    <xs:element name="responderID" type="xs:string"/>
    <xs:element name="responses">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="listEntry"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="responseStatus" type="xs:string"/>
    <xs:element name="producedAt" type="xs:string"/>
    <xs:element name="compression">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="compressionMethod"/>
            </xs:sequence>
            <xs:attribute name="title"/>
            <xs:attribute name="exception"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="compressionMethod">
        <xs:complexType>
            <xs:attribute name="isSupported" use="required"/>
            <xs:attribute name="type" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="heartbleed">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="openSslHeartbleed"/>
            </xs:sequence>
            <xs:attribute name="title"/>
            <xs:attribute name="exception"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="openSslHeartbleed">
        <xs:complexType>
            <xs:attribute name="isVulnerable" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="hsts">
        <xs:complexType>
            <xs:all>
                <xs:element minOccurs="0" ref="httpStrictTransportSecurity"/>
            </xs:all>
            <xs:attribute name="title"/>
            <xs:attribute name="exception"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="httpStrictTransportSecurity">
        <xs:complexType>
            <xs:attribute name="includeSubdomains"/>
            <xs:attribute name="isSupported" use="required"/>
            <xs:attribute name="maxAge"/>
            <xs:attribute name="exception"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="reneg">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="sessionRenegotiation"/>
            </xs:sequence>
            <xs:attribute name="exception"/>
            <xs:attribute name="title"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="sessionRenegotiation">
        <xs:complexType>
            <xs:attribute name="canBeClientInitiated" use="required"/>
            <xs:attribute name="isSecure" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="resum">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="sessionResumptionWithSessionIDs">
                    <xs:sequence>
                        <xs:element ref="sessionResumptionWithTLSTickets"/>
                    </xs:sequence>
                    <xs:attribute name="title"/>
                    <xs:attribute name="exception"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="sessionResumptionWithTLSTickets">
        <xs:complexType>
            <xs:attribute name="error"/>
            <xs:attribute name="isSupported"/>
            <xs:attribute name="reason"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="resum_rate">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="sessionResumptionWithSessionIDs">
                    <xs:attribute name="title"/>
                    <xs:attribute name="exception"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="sslv2">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="preferredCipherSuite"/>
                <xs:element ref="acceptedCipherSuites"/>
                <xs:element ref="rejectedCipherSuites"/>
                <xs:element ref="errors"/>
            </xs:sequence>
            <xs:attribute name="isProtocolSupported"/>
            <xs:attribute name="title"/>
            <xs:attribute name="exception"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="sslv3">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="preferredCipherSuite"/>
                <xs:element ref="acceptedCipherSuites"/>
                <xs:element ref="rejectedCipherSuites"/>
                <xs:element ref="errors"/>
            </xs:sequence>
            <xs:attribute name="isProtocolSupported"/>
            <xs:attribute name="title"/>
            <xs:attribute name="exception"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="tlsv1">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="preferredCipherSuite"/>
                <xs:element ref="acceptedCipherSuites"/>
                <xs:element ref="rejectedCipherSuites"/>
                <xs:element ref="errors"/>
            </xs:sequence>
            <xs:attribute name="isProtocolSupported"/>
            <xs:attribute name="title"/>
            <xs:attribute name="exception"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="tlsv1_1">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="preferredCipherSuite"/>
                <xs:element ref="acceptedCipherSuites"/>
                <xs:element ref="rejectedCipherSuites"/>
                <xs:element ref="errors"/>
            </xs:sequence>
            <xs:attribute name="isProtocolSupported"/>
            <xs:attribute name="title"/>
            <xs:attribute name="exception"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="tlsv1_2">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="preferredCipherSuite"/>
                <xs:element ref="acceptedCipherSuites"/>
                <xs:element ref="rejectedCipherSuites"/>
                <xs:element ref="errors"/>
            </xs:sequence>
            <xs:attribute name="isProtocolSupported"/>
            <xs:attribute name="title"/>
            <xs:attribute name="exception"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="certificate">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="asPEM"/>
                <xs:element ref="issuer"/>
                <xs:element ref="serialNumber"/>
                <xs:element ref="subject"/>
                <xs:element ref="validity"/>
                <xs:element ref="subjectPublicKeyInfo"/>
                <xs:element ref="version"/>
                <xs:element ref="extensions"/>
                <xs:element ref="signatureValue"/>
                <xs:element ref="signatureAlgorithm"/>
            </xs:sequence>
            <xs:attribute name="position"/>
            <xs:attribute name="sha1Fingerprint" use="required"/>
            <xs:attribute name="suppliedServerNameIndication" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="asPEM" type="xs:string"/>
    <xs:element name="subjectPublicKeyInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="publicKey"/>
                <xs:element ref="publicKeyAlgorithm"/>
                <xs:element ref="publicKeySize"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="publicKey">
        <xs:complexType>
            <xs:choice>
                <xs:sequence>
                    <xs:element ref="curve"/>
                    <xs:element ref="pub"/>
                </xs:sequence>
                <xs:sequence>
                    <xs:element ref="modulus"/>
                    <xs:element ref="exponent"/>
                </xs:sequence>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="curve" type="xs:string"/>
    <xs:element name="pub" type="xs:string"/>
    <xs:element name="modulus" type="xs:string"/>
    <xs:element name="exponent" type="xs:string"/>
    <xs:element name="publicKeyAlgorithm" type="xs:string"/>
    <xs:element name="publicKeySize" type="xs:string"/>
    <xs:element name="extensions">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
              <xs:any processContents="lax"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="signatureValue" type="xs:string"/>
    <xs:element name="signatureAlgorithm" type="xs:string"/>
    <xs:element name="subject">
        <xs:complexType>
            <xs:all>
                <xs:element minOccurs="0" ref="commonName"/>
                <xs:element minOccurs="0" ref="countryName"/>
                <xs:element minOccurs="0" ref="domainComponent"/>
                <xs:element minOccurs="0" ref="localityName"/>
                <xs:element minOccurs="0" ref="organizationName"/>
                <xs:element minOccurs="0" ref="emailAddress"/>
                <xs:element minOccurs="0" ref="organizationalUnitName"/>
                <xs:element minOccurs="0" ref="serialNumber"/>
                <xs:element minOccurs="0" ref="stateOrProvinceName"/>
                <xs:element minOccurs="0" ref="businessCategory"/>
                <xs:element minOccurs="0" ref="jurisdictionCountryName"/>
                <xs:element minOccurs="0" ref="jurisdictionStateOrProvinceName"/>
                <xs:element minOccurs="0" ref="oid-1.3.6.1.4.1.311.60.2.1.2"/>
                <xs:element minOccurs="0" ref="oid-1.3.6.1.4.1.311.60.2.1.3"/>
                <xs:element minOccurs="0" ref="streetAddress"/>
                <xs:element minOccurs="0" ref="postalCode"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="businessCategory" type="xs:string"/>
    <xs:element name="jurisdictionCountryName" type="xs:string"/>
    <xs:element name="jurisdictionStateOrProvinceName" type="xs:string"/>
    <xs:element name="domainComponent" type="xs:string"/>
    <xs:element name="oid-1.3.6.1.4.1.311.60.2.1.2" type="xs:string"/>
    <xs:element name="oid-1.3.6.1.4.1.311.60.2.1.3" type="xs:string"/>
    <xs:element name="streetAddress" type="xs:string"/>
    <xs:element name="emailAddress" type="xs:string"/>
    <xs:element name="postalCode" type="xs:string"/>
    <xs:element name="validity">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="notBefore"/>
                <xs:element ref="notAfter"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="notAfter" type="xs:string"/>
    <xs:element name="notBefore" type="xs:string"/>
    <xs:element name="issuer">
        <xs:complexType>
            <xs:all>
                <xs:element minOccurs="0" ref="commonName"/>
                <xs:element minOccurs="0" ref="countryName"/>
                <xs:element minOccurs="0" ref="domainComponent"/>
                <xs:element minOccurs="0" ref="localityName"/>
                <xs:element minOccurs="0" ref="organizationName"/>
                <xs:element minOccurs="0" ref="emailAddress"/>
                <xs:element minOccurs="0" ref="organizationalUnitName"/>
                <xs:element minOccurs="0" ref="serialNumber"/>
                <xs:element minOccurs="0" ref="stateOrProvinceName"/>
                <xs:element minOccurs="0" ref="businessCategory"/>
                <xs:element minOccurs="0" ref="jurisdictionCountryName"/>
                <xs:element minOccurs="0" ref="jurisdictionStateOrProvinceName"/>
                <xs:element minOccurs="0" ref="oid-1.3.6.1.4.1.311.60.2.1.2"/>
                <xs:element minOccurs="0" ref="oid-1.3.6.1.4.1.311.60.2.1.3"/>
                <xs:element minOccurs="0" ref="streetAddress"/>
                <xs:element minOccurs="0" ref="postalCode"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="listEntry">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="certID"/>
                <xs:element ref="certStatus"/>
                <xs:element ref="nextUpdate"/>
                <xs:element ref="thisUpdate"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="certID">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="hashAlgorithm"/>
                <xs:element ref="serialNumber"/>
                <xs:element ref="issuerNameHash"/>
                <xs:element ref="issuerKeyHash"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="hashAlgorithm" type="xs:string"/>
    <xs:element name="issuerNameHash" type="xs:string"/>
    <xs:element name="issuerKeyHash" type="xs:string"/>
    <xs:element name="certStatus" type="xs:string"/>
    <xs:element name="nextUpdate" type="xs:string"/>
    <xs:element name="thisUpdate" type="xs:string"/>
    <xs:element name="version" type="xs:string"/>
    <xs:complexType name="sessionResumptionWithSessionIDs">
        <xs:sequence>
            <xs:element ref="sessionResumptionWithSessionIDs"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="sessionResumptionWithSessionIDs">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="error"/>
            </xs:sequence>
            <xs:attribute name="errors" use="required"/>
            <xs:attribute name="failedAttempts" use="required"/>
            <xs:attribute name="isSupported" use="required"/>
            <xs:attribute name="successfulAttempts" use="required"/>
            <xs:attribute name="totalAttempts" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="error" type="xs:string"/>
    <xs:element name="errors">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="cipherSuite"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="rejectedCipherSuites">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="cipherSuite"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="acceptedCipherSuites">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="cipherSuite"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="preferredCipherSuite">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="cipherSuite"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="URI">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="listEntry"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="serialNumber" type="xs:string"/>
    <xs:element name="commonName" type="xs:string"/>
    <xs:element name="organizationalUnitName" type="xs:string"/>
    <xs:element name="organizationName" type="xs:string"/>
    <xs:element name="localityName" type="xs:string"/>
    <xs:element name="stateOrProvinceName" type="xs:string"/>
    <xs:element name="countryName" type="xs:string"/>
    <xs:element name="cipherSuite">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="keyExchange"/>
            </xs:sequence>
            <xs:attribute name="anonymous" use="required"/>
            <xs:attribute name="connectionStatus" use="required"/>
            <xs:attribute name="keySize"/>
            <xs:attribute name="name" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="keyExchange">
        <xs:complexType>
            <xs:attribute name="A"/>
            <xs:attribute name="B"/>
            <xs:attribute name="Cofactor"/>
            <xs:attribute name="Field_Type"/>
            <xs:attribute name="Generator" use="required"/>
            <xs:attribute name="GeneratorType"/>
            <xs:attribute name="GroupSize" use="required"/>
            <xs:attribute name="Order"/>
            <xs:attribute name="Prime"/>
            <xs:attribute name="Seed"/>
            <xs:attribute name="Type" use="required"/>
            <xs:attribute name="prime"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
